.main-ranking-container {
  align-items: center;
  background-image: url('../images/background-ranking.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}

.logo-trivia {
  height: 200px;
  left: 550px;
  position: absolute;
  top: 20px;
  width: 190px;
}

.ranking-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 480px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 140px;
  width: 489px;
}

.ranking-container h1 {
  color: #3c1b7a;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.12em;
  margin-top: 80px;
}

.ranking-container button {
  background-color: #2fc18c;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  margin-top: 50px;
  width: 386px;
}

.ranking-container ol {
  height: 200px;
  margin-top: 10px;
  overflow-y: scroll;
  width: 386px;
}

.ranking-container li {
  align-items: center;
  background-color: #ebebeb;
  border-radius: 30px;
  display: flex;
  height: 30%;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.player-picture {
  border-radius: 18px;
}

.ranking-score-container {
  align-items: center;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0.1px 4px 22px rgba(0, 0, 0, 0.25);
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 80%;
  justify-content: space-around;
  letter-spacing: 0.12em;
  line-height: 150%;
  width: 40%;
}

.vector {
  margin-right: 10px;
}
